.acercaDeContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    box-shadow: 0 0 10px rgba(212, 61, 61, 0.2);
    padding: 2.2rem;
    border-radius: 20px;
    background: linear-gradient(
        180deg,
        #fff,
        #fff6f6
    );

    max-width: 1600px;
    margin: auto;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
    border: var(--secondary-color) solid 1px;
    animation: shadow linear;
}


.acercaDeContainer:hover
{
    box-shadow: 0px 10px 25px rgba(212, 61, 61, 0.5);
    transform: scale(1.02) translateY(-5px);
}


.acercaDeContainer:hover img
{
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.textoAcerca
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.imageContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.imageContainer img
{
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    opacity: 0.85;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.imageContainer:hover img
{
    opacity: 1;
    transform: scale(1.05) translateY(-20px);

}
.encabezadoAcercaDe
{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    max-width: 600px;
}

.encabezadoAcercaDe h2
{
    transition: 
        color 0.5s ease-in-out,
        transform 0.3s ease;
        font-size: clamp(5rem, 5vw, 2rem);
        margin-bottom: 0.5rem;
        color: var(--secondary-color);
        transform: 
            scale(1.1)
            translateY(-5px);
        
}

.encabezadoAcercaDe::after {
    content: "";
    width: 50px;
    height: 4px;
    background: var(--secondary-color);
    display: block;
    margin: 0.5rem auto 0 auto;
    border-radius: 10px;
    transition: width 0.3s ease-in-out,
        background 0.3s ease-in-out;
}

.encabezadoAcercaDe:hover::after {
    background: var(--tertiary-color);
    width: 100px;
    margin: 0.5rem auto 0 auto;
    transition: 
        width 0.5s ease, 
        background 0.5s ease-in-out;
}

.encabezadoAcercaDe h2:hover
{
    color: var(--tertiary-color);
    transform: 
        scale(1.1)
        translateY(-5px);
}

.textoAcerca
{
    transition: transform 0.3s ease;
}

.acercaDeContainer:hover .textoAcerca {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.descripcionContenedor
{
    font-size: clamp(1.5rem, 2.5vw, 1.2rem);
    color: var(--quaternary-color);
    text-align: center;
    max-width: 800px;
}

.acercaDe p
{
    font-size: 1.5rem;
    text-align:justify;
    max-width: 600px;
    padding: 1.5rem;
    opacity: 0.3;
    transition: 
        opacity 0.4s ease-in-out;
}

.acercaDe p:hover
{
    opacity: 1;
}


.movement {
    animation: movement ease-out;
    animation-timeline: view();
    animation-range: entry 10% cover 30%; /* Entrada, 10% de la animación, y 30% de la animación */
}

@keyframes movement {
    from {
        transform: rotate(180deg);
        opacity: 0.1;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}